import requests

url = "https://surveyfirmifmr.surveycto.com/api/v1/forms/data/wide/json/Try_Sachin"

querystring = {"api_key":"TQB8S1xOuDWtBFL8hxtMsGW5W2bqAJNw"}

headers = {
    'api_key': "TQB8S1xOuDWtBFL8hxtMsGW5W2bqAJNw",
    'Authorization': "Digest username=\"sachin.shrivastava@ifmr.ac.in\", realm=\"surveyfirmifmr.surveycto.com\", nonce=\"MTUyOTU3NTM2ODA5MDphZWI0NjNhNWJlMmVhY2JhYzA3ZGZkYWNlM2Y2ZGE0OA==\", uri=\"/api/v1/forms/data/wide/json/Try_Sachin?api_key=TQB8S1xOuDWtBFL8hxtMsGW5W2bqAJNw\", algorithm=\"MD5\", qop=auth, nc=00000001, cnonce=\"oLrpoUFn\", response=\"d14dd95b40353c9e5d95aa0fb25bd415\"",
    'Cache-Control': "no-cache",
    'Postman-Token': "c3527fc5-a7cd-47b5-a81d-073330dbf2a2"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)
